name: grafana-annotation-workflow
# Reusable workflow for annotation of CI and CD events in Grafana  

on:
  workflow_call:
    inputs:
      event_type:
        description: "ci and cd"
        required: true
        type: string
      environment:
        description: "Optional environment (prod, staging, etc)"
        required: false
        type: string
    secrets:
      GRAFANA_SECRET_JSON:
        required: true

jobs:
  annotate:
    runs-on: ubuntu-latest

    steps:
      - name: Extract Grafana Loki credentials
        env:
          GRAFANA_SECRET_JSON: ${{ secrets.LOKI_SECRET_JSON }}
        run: |
          echo "$LOKI_SECRET_JSON" | jq -e '.LOKI_USER and .LOKI_PASS and .LOKI_URL' >/dev/null
          echo "$LOKI_SECRET_JSON" | jq -r '
            "LOKI_USER=\(.LOKI_USER)\nLOKI_PASS=\(.LOKI_PASS)\nLOKI_URL=\(.LOKI_URL)"
          ' >> $GITHUB_ENV

      - name: Send CI/CD event to Loki
        if: always()
        env:
          REPO: ${{ github.repository }}
          BRANCH: ${{ github.ref_name }}
          WORKFLOW: ${{ github.workflow }}
          COMMIT: ${{ github.sha }}
          ACTOR: ${{ github.actor }}
          STATUS: ${{ job.status }}
          EVENT_TYPE: ${{ inputs.event_type }}
          ENVIRONMENT: ${{ inputs.environment }}
          RUN_ID: ${{ github.run_id }}
          RUN_URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
        run: |
          TS=$(date +%s%N)

          LABELS="source=\"github_actions\",repo=\"$REPO\",branch=\"$BRANCH\",workflow=\"$WORKFLOW\",type=\"$EVENT_TYPE\",status=\"$STATUS\""

          if [ -n "$ENVIRONMENT" ]; then
            LABELS="$LABELS,env=\"$ENVIRONMENT\""
          fi

          cat <<EOF | curl -s -u "$LOKI_USER:$LOKI_PASS" \
            -H "Content-Type: application/json" \
            -X POST "$LOKI_URL/loki/api/v1/push" \
            --data-binary @-
          {
            "streams": [
              {
                "stream": { $LABELS },
                "values": [
                  [
                    "$TS",
                    "{\"message\":\"GitHub Actions $EVENT_TYPE\",\"repo\":\"$REPO\",\"branch\":\"$BRANCH\",\"workflow\":\"$WORKFLOW\",\"status\":\"$STATUS\",\"commit\":\"${COMMIT:0:7}\",\"actor\":\"$ACTOR\",\"run_url\":\"$RUN_URL\"}"
                  ]
                ]
              }
            ]
          }
          EOF
