name: Test JSON Extraction

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  extract-and-verify:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Extract 4 elements from JSON"
        run: |
          # Use jq to extract specific fields
          FIRST_NAME=$(jq -r '.first_name' t1/keys.json)
          DOB=$(jq -r '.personal_data.dob' t1/keys.json)
          FIRST_HOBBY=$(jq -r '.personal_data.hobbies[0]' t1/keys.json)
          ZIP_CODE=$(jq -r '.address.zip' t1/keys.json)

          echo "Extracted Data:"
          echo "Name: $FIRST_NAME"
          echo "DOB: $DOB"
          echo "Hobby: $FIRST_HOBBY"
          echo "Zip: $ZIP_CODE"

  # extract-and-compare:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: "Checkout repository"
  #       uses: actions/checkout@v4

      - name: "Extract and Compare 2 elements"
        run: |
          # 1. Extract and compare 'active' status
          IS_ACTIVE=$(jq -r '.active' t1/keys.json)
          if [ "$IS_ACTIVE" = "true" ]; then
            echo "✅ User is active."
          else
            echo "❌ User is not active."
            exit 1
          fi

          # 2. Extract and compare 'phone'
          PHONE=$(jq -r '.phone' t1/keys.json)
          if [ "$PHONE" -eq "5556667778" ]; then
            echo "✅ Phone matches"
          else
            echo "❌ Phone mismatch! Found: $PHONE"
            exit 1
          fi


  # send-log-to-loki:
  #   runs-on: ubuntu-latest
  #   steps:
      - name: "Send CI event to Grafana"
        if: always()
        env:
          LOKI_URL: https://logs-prod-042.grafana.net/loki/api/v1/push
          LOKI_USER: "1452749" #${{ secrets.GRAFANA_INSTANCE_ID }}
          LOKI_PASS: "glc_eyJvIjoiMzcwNzAwIiwibiI6InN0YWNrLTE0OTQ5NTYtaGwtcmVhZC1kc21pdGg3My1naXRodWItbG9ncyIsImsiOiJYM2JteDNFNjRsZTNJejVxMDg0TmJnbjgiLCJtIjp7InIiOiJwcm9kLXVzLWVhc3QtMyJ9fQ==" # ${{ secrets.GRAFANA_API_KEY }} 
        run: |
          TIMESTAMP=$(date +%s%N)
          STATUS="${{ job.status }}"
      
          cat <<EOF | curl -s -u "$LOKI_USER:$LOKI_PASS" \
            -H "Content-Type: application/json" \
            -X POST "$LOKI_URL" \
            --data-binary @-
          {
            "streams": [
              {
                "stream": {
                  "source": "github_actions",
                  "repo": "${{ github.repository }}",
                  "workflow": "${{ github.workflow }}",
                  "branch": "${{ github.ref_name }}",
                  "status": "$STATUS"
                },
                "values": [
                  ["$TIMESTAMP", "{\"message\":\"CI run finished\",\"status\":\"$STATUS\"}"]
                ]
              }
            ]
          }
          EOF
    
          
